@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Geist", sans-serif;
  margin: 2rem;
  background: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 700px;
  margin: auto;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
